* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container {
  width: 100%;
  margin: 0 auto;
}

.container-checkout {
  width: 100%;
  min-height: 87vh;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  padding: 15px;

  background-color: rgb(239, 243, 187);
}

.checkout-product-detail-image1{
  max-width: 100px;
  max-height: 50px;
  align-items: center;
  justify-content: center;
}

.image-container1 {
  align-items: center;
  justify-content: center;
}

.checkout-price {
  display: flex;
  align-items: flex-start;
}

.checkout-price1 {
  font-size: 20px;
  color: #f02d34;
  font-weight: bold;
}

.item-name h1 {
  font-size: 16px;
}
.checkout-products{
  width: 390px;
  background-color: #eef08a;
  border-radius: 10px;

  overflow: hidden;
  padding: 77px 55px 33px 55px;
  margin-bottom: 5px;

  box-shadow: 0 5px 10px 0px rgb(0, 0, 0);

}
.checkout-products-title{
  margin-bottom: 10px;
  text-align:center;
  text-justify: auto;
  display: block;
  justify-content: flex-start;
  font-size: 15px;
  color: rgb(78, 78, 76);

}

.checkout-quantity1 {
  max-width: 140px;
  margin-top: 10px;
}

.checkout-post{
  width: 390px;
  background-color: #eef08a;
  border-radius: 10px;

  overflow: hidden;
  padding: 77px 55px 33px 55px;
  margin-bottom: 5px;

  box-shadow: 0 5px 10px 0px rgb(0, 0, 0);
}
.checkout-post-title{
  margin-bottom: 10px;
  text-align:center;
  text-justify: auto;
  display: block;
  justify-content: flex-start;
  font-size: 15px;
  color: rgb(78, 78, 76);

  
}

.checkout-post-send {
  border-bottom: 2px solid rgba(252, 251, 251, 0.486);
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}

.checkout-post-subtotal{
  font-size: 15px;
}


.checkout-payment{
  width: 390px;
  background-color:  #eef08a;
  border-radius: 10px;
  

  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgb(0, 0, 0);
}

.checkout-payment-title{
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  color: rgb(78, 78, 76);
  font-size: 15px;
}

.payment-button-option{
  list-style: none;
  margin: 0;
  padding: 0;
  color: red;
}

.payment-button-option::after {
  content: "";
  clear: both;
}

.input-option356 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-option356:after {
  content: "";
  clear: both;
}

.radio {
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  float: left;
  height: 70px;
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}

.radio label {
  background: #f5f836 no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  border-radius: 15px 50px 30px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style:italic;
  font-weight: bold;
  
  
}

.radio label span {
  z-index: 1;
}
.radio label input[type=radio] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.radio label input[type=radio]:checked {
  background-color: rgb(255, 195, 0);
  border-radius: 15px 50px 30px
}
.radio label input[type=radio]:checked + span{
  color: #ffffff;
}

.container-button{
  display: flex;
justify-content: center;
background-color: rgb(239, 243, 187);
padding-bottom: 20px;
}


