.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
    color: white;
    font-size: medium;
    letter-spacing: 0.05rem;
}
.form_control select {
    padding: .7em;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: medium;
    letter-spacing: 0.1rem;
}