* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-main {
    width: 100%;
    margin: 0 auto;
  }

  .checkout-main {
    width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  background-color: rgb(229, 230, 217);
  }

  .checkout-post {
    display: block;
    background-color: rgb(250, 248, 126);
  }

  .checkout-payment {
    display: block;
    background-color:rgb(250, 248, 126) ;
    width: 390px;
    
    
  }