:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

/* html, */
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.productList {
  display: flex;
  justify-content: space-evenly;
}

.productCard {
  position: relative;
  background-color: var(--color-grey-primary);
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
  border-radius: 15px;
}

.descount {
  color: #ff3333;
  position: absolute;
  right: 38px;
  top: 7px;
  font-weight: bold;
}

.descount {
  padding: 5px;
  background: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 14px;
}

.preco {
  color: #a19fa1;
  text-decoration: line-through;
  margin-right: 1.7px;
  font-weight: lighter;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage {
  max-width: 100%;
  height: auto;
}

.productCard__cart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__cart:hover {
  color: #f02d34;
}

.productCard__wishlist {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist:hover {
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName {
  font-size: 1.5rem;
}

.productRating {
  color: #f02d34;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productSales,
.productTime {
  font-size: 1.1rem;
}

/* NAVBAR */
.nav {
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.icons-nav {
  display: flex;
}

/* ICON SACOLA */
.ShoppingBagIcon {
  width: 50px;
  height: auto;
  margin-right: 30px;
  color: #181818;
}
.userIcon {
  padding-top: 3.8px;
  width: 53px;
  height: auto;
  margin-right: 30px;
  color: #181818;
}

.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 26px;
  top: 19.4px;
  font-size: 17px;
  color: #eee;
  background-color: #f02d34;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  border: 3px solid rgb(255, 255, 255);
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 10px 10px;
  position: relative;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 2px;
  color: #f02d34;
}

.empty-cart {
  margin: 120px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #212121;
}

.tamanho {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -22px;
}

.item-desc .bottom {
  margin-top: 60px;
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 20px;
  margin: 4px;
}

.quantity-desc .minus {
  color: #f02d34;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.flex h5 {
  font-size: 20px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.total h3 {
  font-size: 22px;
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 30px 65px;
}

.basketShopping {
  position: absolute;
  top: 11px;
  left: 20px;
}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding-top: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.font-fin {
  font-size: 14px;
 }



@media screen and (max-width: 800px) {
  .cart-container {
    width: 400px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .cart-heading {
    margin-top: 35px;
  }


  .product {
    padding: 20px 5px;
  }

  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .flex h5 {
    font-size: 12px;
    color: #000000;
  }

  .flex h4 {
    font-size: 12px;
    color: black;
  }

  .tamanho {
    font-size: 12px;
    margin-top: 8px;
    padding-bottom: 5px;
  }

  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  .cart-container {
    width: 360px;
    padding: 4px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .item-desc .bottom {
    margin-top: 20px;
  }

  .quantity-desc{
    margin-top: 10px;
  }

  .remove-item{
    margin-top: 15px;
  }

  .cart-bottom {
    position: absolute;
    bottom: 12px;
    width: 100%;
    padding: 30px 65px;
  }

  .total h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .btn-container {
    width: 270px;
    margin-left: -30px;
    margin-bottom: 50px;
    
  }
  .font-fin {
   font-size: 13px;
  }
  .empty-cart{
    width: 200px;
    margin-left: 75px;
    margin-top: 210px;
   }
}
@media (max-width: 700px) {
  .icons-nav {
    display: flex;
    flex-direction: column;
  }
}
