.footer {
  display: block;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 15px hsl(0deg 4% 15% / 15%);
  width: 100%;
  background-color: white;
}
.footer-text {
  margin-inline: auto;
  padding-inline: 2.4rem;
}
#footer-title {
  text-align: center;
  font-size: medium;
}

#footer-subtitle {
  text-align: center;
  font-size: small;
}
