.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 15px hsl(0deg 4% 15% / 15%);
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;

}

#footer-title {
    text-align: center;
    font-size: 18px;
}

#footer-subtitle {
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

@media screen and (max-width:800px) {
    #footer-subtitle {
        font-size: 12px;
    }

    #footer-title {
        text-align: center;
        font-size: 14px;
    }

}