@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
    font-family: 'Roboto';
}
body {
    background: rgb(181,107,28);
    background: linear-gradient(90deg, rgb(180, 136, 89) 0%, rgba(245,204,13,1) 100%);
}